/* Day mode */
body {
  background-color: #ffffff;
  color: black;
  font-family: 'Gill Sans';
}

/* Night mode */
body.night-mode {
  background-color: #000000;
  color: #ffffff;
}

.day-night-btn {
  font-size: 1.5em;
  color: black;
  margin-top: 2em;
  font-family: 'Gill Sans';
  text-transform: uppercase;
  border-radius: 0px;
  border-width: 1px;
  padding: 10px;

}

.alarm {
  margin-top: 2em;
  font-size: 1.2em;

}

button#set-alarm-btn {
  font-size: 0.6em;
  color: black;
  margin-top: 2em;
  font-family: 'Gill Sans';
  text-transform: uppercase;
  border-radius: 0px;
  border-width: 1px;
  padding: 5px;
}

button#cancel-alarm-btn {
  font-size: 0.6em;
  color: black;
  margin-top: 2em;
  font-family: 'Gill Sans';
  text-transform: uppercase;
  border-radius: 0px;
  border-width: 1px;
  padding: 5px;
}
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .time {
    font-size: 1500%;
  
    margin-bottom: 0.2em;
  }
  
  .date {
    font-size: 2em;
   
    text-transform: uppercase;
  }

  .timezone {
    margin-top: 2em;
    font-size: 1.2em;
  }
  