body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock-section {
  font-size: 10rem;
  margin-bottom: 1rem;
}

#date-section {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

#clock-section {
  font-size: calc(50px * var(--size));
}

#date-section {
  font-size: calc(20px * var(--size));
}
