:root {
    --bg-color: #faffaf;
    --font-color: #ffb5b5;
    --clock-font: Arial;
    --clock-size: 200px;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clock-container {
    width: 75%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--clock-font);
    font-size: var(--clock-size);
    color: var(--font-color);
    cursor: pointer;
  }
  
  .time {
    font-weight: bold;
  }
  
  #button-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  
  #rotateBtn {
    position: relative;
    right: 0;
  }
  
  #repositoryBtn {
    position: relative;
    left: 0;
  }
  
  
  body.bg-white {
    background-color: white;
  }
  
  .clock .time {
    font-family: var(--clock-font);
  }
  
  .clock .date {
    font-size: 50%;
    text-align: center;
    margin-top: -10%;
  }
  